.tobook-article{
	position: relative;
	margin: 40px;
	padding: 40px;
	color: #fff;
}

.table tr td,
.table tr th{
	color: #fff;
}

#bookingbtn{
	position: fixed;
	margin: 20px;
	right: 0;
	bottom: 0;
}